*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
/*HEADER*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25%;
    padding-block: 1.2rem;
    font-size: 1.2rem;    
}
header h4{    
    display: flex;
    width: fit-content;
}
header img{
    display: flex;
    width: 1.2rem;
}
/*MAIN*/

#main{    
    padding-inline: 25%;
    padding-block: 8rem 6rem;
}
#hi{
    font-size: 1.2rem;
}
#main h1{
    font-size: 3.4rem;
    color: rgb(67, 127, 255);
}
#main h4{
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
#description{
    font-size: 1.2rem;
    padding-bottom: 2rem;
    padding-right: 35%;
    
}
#contact{
    font-size: 1rem;
    padding-bottom: 1rem;
}
#div-header{
    
    font-size: 1.2rem;
    display: flex;
}
#div-nav{
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
}
.div-item{
    align-content: center;
    padding-block: .4rem;
    padding-inline: .8rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    border: 3px solid gray;
    border-radius: 10px;
    border-bottom: 7px solid gray;

}
.div-item img{
    
    width: 1.2rem;
}

/*ASIDE*/

#aside{
    width: fit-content;
    padding-inline: 25%
       
}
#aside h3{
    font-size: 1.7rem;
}
#aside-section{
    display: flex; 
    justify-content: space-between;
    gap: 1rem;
}
.aside-article{
    margin: 1rem;
    padding: 1.2rem;
    border: 2px solid black;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    
    
}
.banner img{
    width: 280px;
    
    
}
.aside-article h4{
    font-size: 1.2rem;
    padding-block: 1rem .3rem;
}
.aside-article p{
    font-size: .95rem;
    padding-bottom: 2rem;
}
.aside-footer{
    display: flex; 
    justify-content: space-between;
}
.client{
    font-size: .95rem;
    padding-bottom: .3rem;
}
.area{
    font-size: .7rem;
    color: grey;
}


.clip img{
    width: 2rem;
}

/*DIV*/

#article-works{
    padding-inline: 30% ;
}
#works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
    

#works-title{
    width: fit-content;
    display: flex;
    border: 2px solid black;
    
    
}

#works-img{
    display:flex;
        
}






