*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;   
}

/*HEADER*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25%;
    padding-block: 1.2rem;
    font-size: 1.2rem;    
}
header h4{    
    display: flex;
    width: fit-content;
}
header img{
    display: flex;
    width: 1.2rem;
}
/*MAIN*/

#main{    
    padding-inline: 25%;
    padding-block: 8rem 6rem;
}
#hi{
    font-size: 1.2rem;
}
#main h1{
    font-size: 3.4rem;
    color: rgb(67, 127, 255);
}
#main h4{
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
#description{
    font-size: 1.2rem;
    padding-bottom: 2rem;
    padding-right: 35%;
    
}
#contact{
    font-size: 1rem;
    padding-bottom: 1rem;
}
#div-header{    
    font-size: 1.2rem;
    display: flex;
}
#div-nav{
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
}
.div-item{
    align-content: center;
    padding-block: .4rem;
    padding-inline: .8rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    border: 3px solid gray;
    border-radius: 10px;
    border-bottom: 7px solid gray;

}
.div-item img{
    
    width: 1.2rem;
}

/*ASIDE*/

#aside{
padding-inline: 25%;      
}
#aside h3{
    font-size: 1.7rem;
}
#aside-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    gap: 10px; 
}
.aside-article{
    border: 2px solid black;
    border-radius: 8px;
    width: fit-content;
        
}
.banner{
    padding: .2rem;
    justify-content:center ;    
}
.banner a img{   
    border-radius: 8px;
    width: 100%;   
}
.aside-article h4{
    font-size: 1.5rem;
    
}
.aside-article p{
    font-size: 1rem;
    
}
.aside-footer{
    padding-top: 2rem;
    display: flex; 
    justify-content: space-between;
}
.aside-footer ul{
    width: fit-content;     
}
.client{
    font-size: 1rem;    
}
.area{    
    font-size: .8rem;
    color: grey;
}

.clip img{
     width: 2rem;
}

#article-works{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5rem;    
}
#works-title{
    text-align: center;
}
#works-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#utn a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
}
#coderhouse{
    filter: invert(100%);
}


/*Section (Conocimientos)*/

#article-con{
    padding-inline: 25%;
    margin-bottom: 4rem;       
}
#title-con{
    padding-bottom: 2rem;
}
#grid-con{
    display: grid;
    grid-template-columns: repeat(5, auto); 
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}
.colum-con li{
    margin-bottom: 1rem;   
}
.item-con{
    padding: .3rem;
    display: block;
    min-width: 100px;
    min-height: 80px;
    border: 1px solid black; 
    border-radius: 14px;
    align-items: center;
    justify-content: center;
}
.item-con p{
    width: fit-content;
    margin: 0 auto;
}
.item-con img{
    display: flex;
    background-color: blueviolet;
    margin-inline: auto;
    width: 3rem;
}

/*PROYECTOS*/

#article-pro{
    padding-inline: 25%;
}
#article-pro h2{
    padding-block: 2rem;
}
.section-pro{
    border: 1px solid black;
    border-radius: 6px;
    padding: 1.5rem 1rem 2rem 1rem ;
    margin-block: 1rem;
}
.section-pro div{
    display: flex; 
    justify-content: space-between;
    padding-bottom: .4rem;    
}
.subt-pro{
    filter: invert(50%);
    font-size: .8rem;
}
.section-pro .text-pro{
    margin-top: .9rem;
} 

footer{
    margin-block: 3rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    filter: invert(50%);
}





